.container {
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.lista-container {
  border: 1px solid rgb(80 149 91);
  background: rgb(209 243 195);
  align-items: center;
  border-width: 2px;
  border-radius: 10px;
  height: 100%;
}

.container-characters:hover {
  border: 2px solid rgb(14, 255, 62);
  box-shadow: 0px 10px 10px rgb(4, 245, 64);
  scale: 1.02;
}

.detalhes-container {
  border: 1px solid rgb(80 149 91);
  background: rgb(209 243 195);
  align-items: center;
  height: 600px;
  border-width: 2px;
  border-radius: 10px;
  width: 400px;
  position: fixed;
  right: 71px;
}

.container-characters {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(17 57 17);;
  margin: 10px;
  border-width: 2px;
  border-radius: 10px;
  gap: 10px;
  height: 120px;
  align-items: center;
  justify-content: space-evenly;
}

.characters-img {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(17 57 17);;
  border-radius: 100%;
}

.detalhes-img {
  height: 170px;
  width: 170px;
  border: 2px solid rgb(17 57 17);;
  border-radius: 100%;
}


.pesquisa-container {
  display: flex;
  padding: 10px;
  width: 500px;
  justify-content: space-between;
}

.pesquisa{
  background: rgb(146 255 101);
  border-radius: 10px;
  border: 1px solid rgb(14, 255, 62);
  text-align: center;
}

.nome {
  font-size: 20px;
  width: 160px;
  text-align: center;
}

.title {
  font-size: 28px;
  text-align: center;
}

.title-episodio {
  font-size: 20px;
}

.detalhes {
  font-size: 15px;
  width: 293px;
}

.episodios {
  font-size: 12px;
  width: 180px;
  border: 1px solid rgb(14, 255, 62);
  box-shadow: 0px 6px 5px rgb(4, 245, 64);
  border-radius: 5px;
  height: 44px;
  display: flex;
  align-items: center;
}

.detalhes-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-list {
  display: flex;
  max-height: 157px;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 10px;
  justify-content: center;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Explorer/Edge */
  gap: 15px;
  text-align: center;
  /* border-top: 1px solid rgb(14, 255, 62);; */
}

.episode-list::-webkit-scrollbar {
  width: 0;
  /* Chrome */
}

li {
  list-style: none;
}